################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

curltest.txt
curltest2.txt
vistaliq.sql
node_modules
config/web_server.js
services/access.log
package-lock.json
*.sql

node_modules/.staging/adler-32-c27b04be/adler32.js
node_modules/.staging/adler-32-c27b04be/bin/adler32.njs
node_modules/.staging/adler-32-c27b04be/LICENSE
node_modules/.staging/adler-32-c27b04be/package.json
node_modules/.staging/adler-32-c27b04be/README.md
node_modules/.staging/adler-32-c27b04be/types/index.d.ts
node_modules/.staging/adler-32-c27b04be/types/tsconfig.json
node_modules/.staging/adler-32-c27b04be/types/tslint.json
node_modules/.staging/cfb-e92f7543/cfb.js
node_modules/.staging/cfb-e92f7543/CHANGELOG.md
node_modules/.staging/cfb-e92f7543/dist/cfb.js
node_modules/.staging/cfb-e92f7543/dist/cfb.min.js
node_modules/.staging/cfb-e92f7543/dist/cfb.min.map
node_modules/.staging/cfb-e92f7543/dist/LICENSE
node_modules/.staging/cfb-e92f7543/dist/xlscfb.js
node_modules/.staging/cfb-e92f7543/LICENSE
node_modules/.staging/cfb-e92f7543/package.json
node_modules/.staging/cfb-e92f7543/README.md
node_modules/.staging/cfb-e92f7543/types/index.d.ts
node_modules/.staging/cfb-e92f7543/types/tsconfig.json
node_modules/.staging/cfb-e92f7543/xlscfb.flow.js
node_modules/.staging/codepage-c7b3de17/bin/codepage.njs
node_modules/.staging/codepage-c7b3de17/bits/10000.js
node_modules/.staging/codepage-c7b3de17/bits/10001.js
node_modules/.staging/codepage-c7b3de17/bits/10002.js
node_modules/.staging/codepage-c7b3de17/bits/10003.js
node_modules/.staging/codepage-c7b3de17/bits/10004.js
node_modules/.staging/codepage-c7b3de17/bits/10005.js
node_modules/.staging/codepage-c7b3de17/bits/10006.js
node_modules/.staging/codepage-c7b3de17/bits/10007.js
node_modules/.staging/codepage-c7b3de17/bits/10008.js
node_modules/.staging/codepage-c7b3de17/bits/10010.js
node_modules/.staging/codepage-c7b3de17/bits/10017.js
node_modules/.staging/codepage-c7b3de17/bits/10021.js
node_modules/.staging/codepage-c7b3de17/bits/10029.js
node_modules/.staging/codepage-c7b3de17/bits/10079.js
node_modules/.staging/codepage-c7b3de17/bits/10081.js
node_modules/.staging/codepage-c7b3de17/bits/10082.js
node_modules/.staging/codepage-c7b3de17/bits/1010.js
node_modules/.staging/codepage-c7b3de17/bits/1026.js
node_modules/.staging/codepage-c7b3de17/bits/1047.js
node_modules/.staging/codepage-c7b3de17/bits/1132.js
node_modules/.staging/codepage-c7b3de17/bits/1140.js
node_modules/.staging/codepage-c7b3de17/bits/1141.js
node_modules/.staging/codepage-c7b3de17/bits/1142.js
node_modules/.staging/codepage-c7b3de17/bits/1143.js
node_modules/.staging/codepage-c7b3de17/bits/1144.js
node_modules/.staging/codepage-c7b3de17/bits/1145.js
node_modules/.staging/codepage-c7b3de17/bits/1146.js
node_modules/.staging/codepage-c7b3de17/bits/1147.js
node_modules/.staging/codepage-c7b3de17/bits/1148.js
node_modules/.staging/codepage-c7b3de17/bits/1149.js
node_modules/.staging/codepage-c7b3de17/bits/1250.js
node_modules/.staging/codepage-c7b3de17/bits/1251.js
node_modules/.staging/codepage-c7b3de17/bits/1252.js
node_modules/.staging/codepage-c7b3de17/bits/1253.js
node_modules/.staging/codepage-c7b3de17/bits/1254.js
node_modules/.staging/codepage-c7b3de17/bits/1255.js
node_modules/.staging/codepage-c7b3de17/bits/1256.js
node_modules/.staging/codepage-c7b3de17/bits/1257.js
node_modules/.staging/codepage-c7b3de17/bits/1258.js
node_modules/.staging/codepage-c7b3de17/bits/1361.js
node_modules/.staging/codepage-c7b3de17/bits/20000.js
node_modules/.staging/codepage-c7b3de17/bits/20001.js
node_modules/.staging/codepage-c7b3de17/bits/20002.js
node_modules/.staging/codepage-c7b3de17/bits/20003.js
node_modules/.staging/codepage-c7b3de17/bits/20004.js
node_modules/.staging/codepage-c7b3de17/bits/20005.js
node_modules/.staging/codepage-c7b3de17/bits/20105.js
node_modules/.staging/codepage-c7b3de17/bits/20106.js
node_modules/.staging/codepage-c7b3de17/bits/20107.js
node_modules/.staging/codepage-c7b3de17/bits/20108.js
node_modules/.staging/codepage-c7b3de17/bits/20261.js
node_modules/.staging/codepage-c7b3de17/bits/20269.js
node_modules/.staging/codepage-c7b3de17/bits/20273.js
node_modules/.staging/codepage-c7b3de17/bits/20277.js
node_modules/.staging/codepage-c7b3de17/bits/20278.js
node_modules/.staging/codepage-c7b3de17/bits/20280.js
node_modules/.staging/codepage-c7b3de17/bits/20284.js
node_modules/.staging/codepage-c7b3de17/bits/20285.js
node_modules/.staging/codepage-c7b3de17/bits/20290.js
node_modules/.staging/codepage-c7b3de17/bits/20297.js
node_modules/.staging/codepage-c7b3de17/bits/20420.js
node_modules/.staging/codepage-c7b3de17/bits/20423.js
node_modules/.staging/codepage-c7b3de17/bits/20424.js
node_modules/.staging/codepage-c7b3de17/bits/20833.js
node_modules/.staging/codepage-c7b3de17/bits/20838.js
node_modules/.staging/codepage-c7b3de17/bits/20866.js
node_modules/.staging/codepage-c7b3de17/bits/20871.js
node_modules/.staging/codepage-c7b3de17/bits/20880.js
node_modules/.staging/codepage-c7b3de17/bits/20905.js
node_modules/.staging/codepage-c7b3de17/bits/20924.js
node_modules/.staging/codepage-c7b3de17/bits/20932.js
node_modules/.staging/codepage-c7b3de17/bits/20936.js
node_modules/.staging/codepage-c7b3de17/bits/20949.js
node_modules/.staging/codepage-c7b3de17/bits/21025.js
node_modules/.staging/codepage-c7b3de17/bits/21027.js
node_modules/.staging/codepage-c7b3de17/bits/21866.js
node_modules/.staging/codepage-c7b3de17/bits/28591.js
node_modules/.staging/codepage-c7b3de17/bits/28592.js
node_modules/.staging/codepage-c7b3de17/bits/28593.js
node_modules/.staging/codepage-c7b3de17/bits/28594.js
node_modules/.staging/codepage-c7b3de17/bits/28595.js
node_modules/.staging/codepage-c7b3de17/bits/28596.js
node_modules/.staging/codepage-c7b3de17/bits/28597.js
node_modules/.staging/codepage-c7b3de17/bits/28598.js
node_modules/.staging/codepage-c7b3de17/bits/28599.js
node_modules/.staging/codepage-c7b3de17/bits/28600.js
node_modules/.staging/codepage-c7b3de17/bits/28601.js
node_modules/.staging/codepage-c7b3de17/bits/28603.js
node_modules/.staging/codepage-c7b3de17/bits/28604.js
node_modules/.staging/codepage-c7b3de17/bits/28605.js
node_modules/.staging/codepage-c7b3de17/bits/28606.js
node_modules/.staging/codepage-c7b3de17/bits/29001.js
node_modules/.staging/codepage-c7b3de17/bits/37.js
node_modules/.staging/codepage-c7b3de17/bits/38598.js
node_modules/.staging/codepage-c7b3de17/bits/437.js
node_modules/.staging/codepage-c7b3de17/bits/47451.js
node_modules/.staging/codepage-c7b3de17/bits/500.js
node_modules/.staging/codepage-c7b3de17/bits/50220.js
node_modules/.staging/codepage-c7b3de17/bits/50221.js
node_modules/.staging/codepage-c7b3de17/bits/50222.js
node_modules/.staging/codepage-c7b3de17/bits/50225.js
node_modules/.staging/codepage-c7b3de17/bits/50227.js
node_modules/.staging/codepage-c7b3de17/bits/51932.js
node_modules/.staging/codepage-c7b3de17/bits/51936.js
node_modules/.staging/codepage-c7b3de17/bits/51949.js
node_modules/.staging/codepage-c7b3de17/bits/52936.js
node_modules/.staging/codepage-c7b3de17/bits/54936.js
node_modules/.staging/codepage-c7b3de17/bits/57002.js
node_modules/.staging/codepage-c7b3de17/bits/57003.js
node_modules/.staging/codepage-c7b3de17/bits/57004.js
node_modules/.staging/codepage-c7b3de17/bits/57005.js
node_modules/.staging/codepage-c7b3de17/bits/57006.js
node_modules/.staging/codepage-c7b3de17/bits/57007.js
node_modules/.staging/codepage-c7b3de17/bits/57008.js
node_modules/.staging/codepage-c7b3de17/bits/57009.js
node_modules/.staging/codepage-c7b3de17/bits/57010.js
node_modules/.staging/codepage-c7b3de17/bits/57011.js
node_modules/.staging/codepage-c7b3de17/bits/620.js
node_modules/.staging/codepage-c7b3de17/bits/708.js
node_modules/.staging/codepage-c7b3de17/bits/720.js
node_modules/.staging/codepage-c7b3de17/bits/737.js
node_modules/.staging/codepage-c7b3de17/bits/775.js
node_modules/.staging/codepage-c7b3de17/bits/808.js
node_modules/.staging/codepage-c7b3de17/bits/850.js
node_modules/.staging/codepage-c7b3de17/bits/852.js
node_modules/.staging/codepage-c7b3de17/bits/855.js
node_modules/.staging/codepage-c7b3de17/bits/857.js
node_modules/.staging/codepage-c7b3de17/bits/858.js
node_modules/.staging/codepage-c7b3de17/bits/860.js
node_modules/.staging/codepage-c7b3de17/bits/861.js
node_modules/.staging/codepage-c7b3de17/bits/862.js
node_modules/.staging/codepage-c7b3de17/bits/863.js
node_modules/.staging/codepage-c7b3de17/bits/864.js
node_modules/.staging/codepage-c7b3de17/bits/865.js
node_modules/.staging/codepage-c7b3de17/bits/866.js
node_modules/.staging/codepage-c7b3de17/bits/869.js
node_modules/.staging/codepage-c7b3de17/bits/870.js
node_modules/.staging/codepage-c7b3de17/bits/872.js
node_modules/.staging/codepage-c7b3de17/bits/874.js
node_modules/.staging/codepage-c7b3de17/bits/875.js
node_modules/.staging/codepage-c7b3de17/bits/895.js
node_modules/.staging/codepage-c7b3de17/bits/932.js
node_modules/.staging/codepage-c7b3de17/bits/936.js
node_modules/.staging/codepage-c7b3de17/bits/949.js
node_modules/.staging/codepage-c7b3de17/bits/950.js
node_modules/.staging/codepage-c7b3de17/cptable.js
node_modules/.staging/codepage-c7b3de17/cputils.js
node_modules/.staging/codepage-c7b3de17/dist/cpexcel.full.js
node_modules/.staging/codepage-c7b3de17/dist/cputils.js
node_modules/.staging/codepage-c7b3de17/dist/LICENSE
node_modules/.staging/codepage-c7b3de17/dist/sbcs.full.js
node_modules/.staging/codepage-c7b3de17/LICENSE
node_modules/.staging/codepage-c7b3de17/package.json
node_modules/.staging/codepage-c7b3de17/README.md
node_modules/.staging/codepage-c7b3de17/types/index.d.ts
node_modules/.staging/codepage-c7b3de17/types/tsconfig.json
node_modules/.staging/codepage-c7b3de17/types/tslint.json
node_modules/.staging/commander-7ffb2cc6/CHANGELOG.md
node_modules/.staging/commander-7ffb2cc6/index.js
node_modules/.staging/commander-7ffb2cc6/LICENSE
node_modules/.staging/commander-7ffb2cc6/package.json
node_modules/.staging/commander-7ffb2cc6/Readme.md
node_modules/.staging/commander-7ffb2cc6/typings/index.d.ts
node_modules/.staging/commander-b0594f94/CHANGELOG.md
node_modules/.staging/commander-b0594f94/index.js
node_modules/.staging/commander-b0594f94/LICENSE
node_modules/.staging/commander-b0594f94/package.json
node_modules/.staging/commander-b0594f94/Readme.md
node_modules/.staging/commander-b0594f94/typings/index.d.ts
node_modules/.staging/crc-32-95076334/bin/crc32.njs
node_modules/.staging/crc-32-95076334/crc32.js
node_modules/.staging/crc-32-95076334/LICENSE
node_modules/.staging/crc-32-95076334/package.json
node_modules/.staging/crc-32-95076334/README.md
node_modules/.staging/crc-32-95076334/types/index.d.ts
node_modules/.staging/crc-32-95076334/types/tsconfig.json
node_modules/.staging/crc-32-95076334/types/tslint.json
node_modules/.staging/exit-on-epipe-c3369da2/exit-on-epipe.js
node_modules/.staging/exit-on-epipe-c3369da2/LICENSE
node_modules/.staging/exit-on-epipe-c3369da2/package.json
node_modules/.staging/exit-on-epipe-c3369da2/README.md
node_modules/.staging/fflate-978b50a1/CHANGELOG.md
node_modules/.staging/fflate-978b50a1/esm/browser.js
node_modules/.staging/fflate-978b50a1/esm/index.mjs
node_modules/.staging/fflate-978b50a1/lib/index.d.ts
node_modules/.staging/fflate-978b50a1/lib/index.js
node_modules/.staging/fflate-978b50a1/lib/node-worker.js
node_modules/.staging/fflate-978b50a1/lib/worker.js
node_modules/.staging/fflate-978b50a1/LICENSE
node_modules/.staging/fflate-978b50a1/package.json
node_modules/.staging/fflate-978b50a1/README.md
node_modules/.staging/fflate-978b50a1/umd/index.js
node_modules/.staging/frac-ed1092f8/dist/frac.js
node_modules/.staging/frac-ed1092f8/dist/frac.min.js
node_modules/.staging/frac-ed1092f8/dist/frac.min.map
node_modules/.staging/frac-ed1092f8/dist/LICENSE
node_modules/.staging/frac-ed1092f8/frac.js
node_modules/.staging/frac-ed1092f8/LICENSE
node_modules/.staging/frac-ed1092f8/package.json
node_modules/.staging/frac-ed1092f8/README.md
node_modules/.staging/frac-ed1092f8/types/index.d.ts
node_modules/.staging/frac-ed1092f8/types/tsconfig.json
node_modules/.staging/frac-ed1092f8/types/tslint.json
node_modules/.staging/fsevents-c649413e/fsevents.d.ts
node_modules/.staging/fsevents-c649413e/fsevents.js
node_modules/.staging/fsevents-c649413e/fsevents.node
node_modules/.staging/fsevents-c649413e/LICENSE
node_modules/.staging/fsevents-c649413e/package.json
node_modules/.staging/fsevents-c649413e/README.md
node_modules/.staging/printj-020e3d90/bin/printj.njs
node_modules/.staging/printj-020e3d90/dist/LICENSE
node_modules/.staging/printj-020e3d90/dist/printj.js
node_modules/.staging/printj-020e3d90/dist/printj.min.js
node_modules/.staging/printj-020e3d90/dist/printj.min.map
node_modules/.staging/printj-020e3d90/LICENSE
node_modules/.staging/printj-020e3d90/package.json
node_modules/.staging/printj-020e3d90/printj.js
node_modules/.staging/printj-020e3d90/README.md
node_modules/.staging/printj-020e3d90/types/index.d.ts
node_modules/.staging/printj-020e3d90/types/tsconfig.json
node_modules/.staging/printj-020e3d90/types/tslint.json
node_modules/.staging/ssf-fd23b2a1/LICENSE
node_modules/.staging/ssf-fd23b2a1/package.json
node_modules/.staging/ssf-fd23b2a1/README.md
node_modules/.staging/ssf-fd23b2a1/ssf.flow.js
node_modules/.staging/ssf-fd23b2a1/ssf.js
node_modules/.staging/ssf-fd23b2a1/types/index.d.ts
node_modules/.staging/ssf-fd23b2a1/types/tsconfig.json
node_modules/.staging/wmf-139b1f8f/dist/wmf.js
node_modules/.staging/wmf-139b1f8f/dist/wmf.js.map
node_modules/.staging/wmf-139b1f8f/dist/wmf.node.js
node_modules/.staging/wmf-139b1f8f/dist/wmf.node.js.map
node_modules/.staging/wmf-139b1f8f/LICENSE
node_modules/.staging/wmf-139b1f8f/package.json
node_modules/.staging/wmf-139b1f8f/README.md
node_modules/.staging/word-508eda89/CONTRIBUTING.md
node_modules/.staging/word-508eda89/LICENSE
node_modules/.staging/word-508eda89/package.json
node_modules/.staging/word-508eda89/README.md
node_modules/.staging/word-508eda89/word.js
node_modules/.staging/xlsx-cafef0f2/bin/xlsx.njs
node_modules/.staging/xlsx-cafef0f2/bower.json
node_modules/.staging/xlsx-cafef0f2/CHANGELOG.md
node_modules/.staging/xlsx-cafef0f2/dist/cpexcel.js
node_modules/.staging/xlsx-cafef0f2/dist/jszip.js
node_modules/.staging/xlsx-cafef0f2/dist/LICENSE
node_modules/.staging/xlsx-cafef0f2/dist/shim.min.js
node_modules/.staging/xlsx-cafef0f2/dist/xlsx.core.min.js
node_modules/.staging/xlsx-cafef0f2/dist/xlsx.core.min.map
node_modules/.staging/xlsx-cafef0f2/dist/xlsx.extendscript.js
node_modules/.staging/xlsx-cafef0f2/dist/xlsx.full.min.js
node_modules/.staging/xlsx-cafef0f2/dist/xlsx.full.min.map
node_modules/.staging/xlsx-cafef0f2/dist/xlsx.js
node_modules/.staging/xlsx-cafef0f2/dist/xlsx.min.js
node_modules/.staging/xlsx-cafef0f2/dist/xlsx.min.map
node_modules/.staging/xlsx-cafef0f2/dist/xlsx.mini.min.js
node_modules/.staging/xlsx-cafef0f2/dist/xlsx.mini.min.map
node_modules/.staging/xlsx-cafef0f2/formats.dot
node_modules/.staging/xlsx-cafef0f2/formats.png
node_modules/.staging/xlsx-cafef0f2/jszip.js
node_modules/.staging/xlsx-cafef0f2/legend.png
node_modules/.staging/xlsx-cafef0f2/LICENSE
node_modules/.staging/xlsx-cafef0f2/package.json
node_modules/.staging/xlsx-cafef0f2/README.md
node_modules/.staging/xlsx-cafef0f2/types/index.d.ts
node_modules/.staging/xlsx-cafef0f2/types/tsconfig.json
node_modules/.staging/xlsx-cafef0f2/xlsx.js
node_modules/.staging/xlsx-cafef0f2/xlsx.mini.js
node_modules/.staging/xlsx-cafef0f2/xlsxworker.js
node_modules/bcrypt/lib/binding/napi-v3/bcrypt_lib.node
