################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
curltest.txt
curltest2.txt
vistaliq.sql
./node_modules/*
./config/web_server.js
./services/access.log
./*.sql

