################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
curltest.txt
curltest2.txt
vistaliq.sql
/services/access.log
/services
/node_modules/on-headers/README.md
/node_modules/on-headers/package.json
/node_modules/on-headers/LICENSE
/node_modules/on-headers/index.js
/node_modules/on-headers/HISTORY.md
/node_modules/on-headers
/node_modules/object-assign/readme.md
/node_modules/object-assign/package.json
/node_modules/object-assign/license
/node_modules/object-assign/index.js
/node_modules/object-assign
/node_modules/morgan/README.md
/node_modules/morgan/package.json
/node_modules/morgan/node_modules/depd/Readme.md
/node_modules/morgan/node_modules/depd/package.json
/node_modules/morgan/node_modules/depd/LICENSE
/node_modules/morgan/node_modules/depd/lib/browser/index.js
/node_modules/morgan/node_modules/depd/lib/browser
/node_modules/morgan/node_modules/depd/index.js
/node_modules/morgan/node_modules/depd/History.md
/node_modules/morgan/node_modules/depd
/node_modules/morgan/LICENSE
/node_modules/morgan/index.js
/node_modules/morgan/HISTORY.md
/node_modules/morgan
/node_modules/helmet/SECURITY.md
/node_modules/helmet/README.md
/node_modules/helmet/package.json
/node_modules/helmet/LICENSE
/node_modules/helmet/dist/middlewares/x-xss-protection/index.js
/node_modules/helmet/dist/middlewares/x-xss-protection/index.d.ts
/node_modules/helmet/dist/middlewares/x-xss-protection
/node_modules/helmet/dist/middlewares/x-powered-by/index.js
/node_modules/helmet/dist/middlewares/x-powered-by/index.d.ts
/node_modules/helmet/dist/middlewares/x-powered-by
/node_modules/helmet/dist/middlewares/x-permitted-cross-domain-policies/index.js
/node_modules/helmet/dist/middlewares/x-permitted-cross-domain-policies/index.d.ts
/node_modules/helmet/dist/middlewares/x-permitted-cross-domain-policies
/node_modules/helmet/dist/middlewares/x-frame-options/index.js
/node_modules/helmet/dist/middlewares/x-frame-options/index.d.ts
/node_modules/helmet/dist/middlewares/x-frame-options
/node_modules/helmet/dist/middlewares/x-download-options/index.js
/node_modules/helmet/dist/middlewares/x-download-options/index.d.ts
/node_modules/helmet/dist/middlewares/x-download-options
/node_modules/helmet/dist/middlewares/x-dns-prefetch-control/index.js
/node_modules/helmet/dist/middlewares/x-dns-prefetch-control/index.d.ts
/node_modules/helmet/dist/middlewares/x-dns-prefetch-control
/node_modules/helmet/dist/middlewares/x-content-type-options/index.js
/node_modules/helmet/dist/middlewares/x-content-type-options/index.d.ts
/node_modules/helmet/dist/middlewares/x-content-type-options
/node_modules/helmet/dist/middlewares/strict-transport-security/index.js
/node_modules/helmet/dist/middlewares/strict-transport-security/index.d.ts
/node_modules/helmet/dist/middlewares/strict-transport-security
/node_modules/helmet/dist/middlewares/referrer-policy/index.js
/node_modules/helmet/dist/middlewares/referrer-policy/index.d.ts
/node_modules/helmet/dist/middlewares/referrer-policy
/node_modules/helmet/dist/middlewares/expect-ct/index.js
/node_modules/helmet/dist/middlewares/expect-ct/index.d.ts
/node_modules/helmet/dist/middlewares/expect-ct
/node_modules/helmet/dist/middlewares/content-security-policy/index.js
/node_modules/helmet/dist/middlewares/content-security-policy/index.d.ts
/node_modules/helmet/dist/middlewares/content-security-policy
/node_modules/helmet/dist/middlewares
/node_modules/helmet/dist/index.js
/node_modules/helmet/dist/index.d.ts
/node_modules/helmet/dist
/node_modules/helmet/CONTRIBUTING.md
/node_modules/helmet/CODE_OF_CONDUCT.md
/node_modules/helmet/CHANGELOG.md
/node_modules/helmet
/node_modules/cors/README.md
/node_modules/cors/package.json
/node_modules/cors/LICENSE
/node_modules/cors/lib/index.js
/node_modules/cors/lib
/node_modules/cors/HISTORY.md
/node_modules/cors/CONTRIBUTING.md
/node_modules/cors
/node_modules/basic-auth/README.md
/node_modules/basic-auth/package.json
/node_modules/basic-auth/LICENSE
/node_modules/basic-auth/index.js
/node_modules/basic-auth/HISTORY.md
/node_modules/basic-auth
/node_modules
/.vs/VSWorkspaceState.json
/.vs
